# SPDX-FileCopyrightText: 2022 Peter Urban, Ghent University
#
# SPDX-License-Identifier: CC0-1.0

# ignore inherited wrap files
bitsery*
date*
hinnant-date*
fmt*
magic_enum*
packagecache/*

#ignore filders
Catch2-*
eigen3-*
pybind11-*
tools-/*
